:root {
    --font: sans-serif;

    --primary: #b32f34;
    --primaryTextColor: white;

    --secondary: #516574;
    --secondaryTextColor: white;

    --tertiary: #b87580;
    --tertiaryTextColor: white;
}

html,
body {
    margin: 0px;

    height: 100%;

    background-image: url('../assets/images/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}